.httr-oauth
Trello_Dashboard.Rmd
trello_secret.txt
Trello_Dashboard.Rmd
Trello_Dashboard.html
.Rhistory
.RData
app.old.R
*.pper
*.pper
*.pper
.Rproj.user/E7C534D7/pcs/source-pane.pper
.Rproj.user/E7C534D7/pcs/windowlayoutstate.pper
.Rproj.user/E7C534D7/pcs/workbench-pane.pper
.Rproj.user/E7C534D7/persistent-state
.Rproj.user/E7C534D7/rmd-outputs
.RData
.Rhistory
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/typedarray-0.1/typedarray.min.js
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/plotly-main-1.49.4/plotly-latest.min.js
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/plotly-htmlwidgets-css-1.49.4/plotly-htmlwidgets.css
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/plotly-binding-4.9.1/plotly.js
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/jquery-1.11.3/jquery.min.map
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/jquery-1.11.3/jquery.min.js
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/jquery-1.11.3/jquery.js
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/jquery-1.11.3/jquery-AUTHORS.txt
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/htmlwidgets-1.5.1/htmlwidgets.js
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/crosstalk-1.0.0/js/crosstalk.min.js.map
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/crosstalk-1.0.0/js/crosstalk.min.js
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/crosstalk-1.0.0/js/crosstalk.js.map
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/crosstalk-1.0.0/js/crosstalk.js
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/lib/crosstalk-1.0.0/css/crosstalk.css
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/csetup_chunk/000002.csv
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/cqw0tzv1a9f8d/000005.metadata
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/cqw0tzv1a9f8d/000005.json
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/cqw0tzv1a9f8d/000005.html
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/cqw0tzv1a9f8d/000004.csv
.Rproj.user/shared/notebooks/FC68E63A-Untitled/1/s/chunks.json
.Rproj.user/shared/notebooks/B20B5708-Trello_Dashboard/1/s/chunks.json
.Rproj.user/shared/notebooks/B20B5708-Trello_Dashboard/1/s/chhkz9hibzgwr/000004.csv
.Rproj.user/shared/notebooks/B20B5708-Trello_Dashboard/1/s/chhkz9hibzgwr/000003.rdf
.Rproj.user/shared/notebooks/B20B5708-Trello_Dashboard/1/s/chhkz9hibzgwr/000003.metadata
.Rproj.user/shared/notebooks/B20B5708-Trello_Dashboard/1/s/chhkz9hibzgwr/000002.csv
.Rproj.user/shared/notebooks/B20B5708-Trello_Dashboard/1/s/cfqvwnpy2oxes/000002.csv
.Rproj.user/shared/notebooks/B20B5708-Trello_Dashboard/1/s/c57qdnt8anuz9/000006.csv
.Rproj.user/shared/notebooks/B20B5708-Trello_Dashboard/1/E7C534D75658582/chunks.json
.Rproj.user/shared/notebooks/B20B5708-Trello_Dashboard/1/E7C534D71B84F05/chunks.json
.Rproj.user/shared/notebooks/7386C355-Twitter_Classifier/1/s/chunks.json
.Rproj.user/E7C534D7/viewer-cache/FCA41F05.Rdata
.Rproj.user/E7C534D7/viewer-cache/CA681C1E.Rdata
.Rproj.user/E7C534D7/viewer-cache/C1D1E965.Rdata
.Rproj.user/E7C534D7/viewer-cache/9B285563.Rdata
.Rproj.user/E7C534D7/viewer-cache/973EBE2C.Rdata
.Rproj.user/E7C534D7/viewer-cache/70EDB689.Rdata
.Rproj.user/E7C534D7/sources/s-1B84F05/lock_file
.Rproj.user/E7C534D7/sources/s-1B84F05/FFC6A8DB-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/FFC6A8DB
.Rproj.user/E7C534D7/sources/s-1B84F05/FE50E03F-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/FE50E03F
.Rproj.user/E7C534D7/sources/s-1B84F05/FB600CAF-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/FB600CAF
.Rproj.user/E7C534D7/sources/s-1B84F05/EB85B3AD-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/EB85B3AD
.Rproj.user/E7C534D7/sources/s-1B84F05/E1FB8013-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/D15CE2AE-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/D15CE2AE
.Rproj.user/E7C534D7/sources/s-1B84F05/CE84B563-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/CE84B563
.Rproj.user/E7C534D7/sources/s-1B84F05/C0EA0B75-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/C0EA0B75
.Rproj.user/E7C534D7/sources/s-1B84F05/BC06F14-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/BC06F14
.Rproj.user/E7C534D7/sources/s-1B84F05/B338E7A0-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/B338E7A0
.Rproj.user/E7C534D7/sources/s-1B84F05/6D1FC675-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/6D1FC675
.Rproj.user/E7C534D7/sources/s-1B84F05/68C67C12-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/68C67C12
.Rproj.user/E7C534D7/sources/s-1B84F05/57E59FAC-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/57E59FAC
.Rproj.user/E7C534D7/sources/s-1B84F05/3986CDA-contents
.Rproj.user/E7C534D7/sources/s-1B84F05/3986CDA
.Rproj.user/E7C534D7/sources/s-1B84F05/165EDCB4-contents
.Rproj.user/E7C534D7/sources/prop/INDEX
.Rproj.user/E7C534D7/sources/prop/A8E3E900
.Rproj.user/E7C534D7/sources/prop/7C1B2BB3
.Rproj.user/E7C534D7/sources/prop/7B00D20A
.Rproj.user/E7C534D7/sources/prop/68D6EF96
.Rproj.user/E7C534D7/sources/prop/52E9A5B9
.Rproj.user/E7C534D7/sources/prop/4F98CBFB
.Rproj.user/E7C534D7/sources/prop/335EA5D0
.Rproj.user/E7C534D7/sources/prop/2DEDE932
.Rproj.user/E7C534D7/sources/prop/2DA2C795
.Rproj.user/E7C534D7/saved_source_markers
.Rproj.user/E7C534D7/rmd-outputs
.Rproj.user/E7C534D7/persistent-state
.Rproj.user/E7C534D7/pcs/workbench-pane.pper
.Rproj.user/E7C534D7/pcs/windowlayoutstate.pper
.Rproj.user/E7C534D7/pcs/source-pane.pper
.Rproj.user/E7C534D7/pcs/files-pane.pper
.Rproj.user/E7C534D7/pcs/debug-breakpoints.pper
Untitled.Rmd
plumber.r
bootstrap.css
*.R
e.tex
figure/unnamed-chunk-1-1.png
figure/unnamed-chunk-104-1.png
figure/unnamed-chunk-110-1.png
figure/unnamed-chunk-31-1.png
figure/unnamed-chunk-7-1.png
FlexDashboardReport.html
files/normalised_data.rds
files/presentation_data.rds
files/rendered_data.rds
files/vars.rds
files/rendered_data.rds
files/presentation_data.rds
files/normalised_data.rds
shiny/files/normalised_data.rds
shiny/files/presentation_data.rds
shiny/files/rendered_data.rds
shiny/files/vars.rds
Untitled.Rmd
shiny/files/.DS_Store
shiny/.DS_Store
.DS_Store
shiny/about.fld/colorschememapping.xml
shiny/about.fld/filelist.xml
shiny/about.fld/themedata.thmx
shiny/wb.Rmd
shiny/~$about.html
shiny/files/app_vars.rds
shiny/files/snapshots_versions.rds
reports/FlexDashboard_1589893034.47421.html
reports/FlexDashboard_1589893517.20681.html
reports/FlexDashboard_1589893578.35567.html
reports/FlexDashboard_1589893925.39115.html
reports/FlexDashboard_1589901115.87005.html
reports/FlexDashboard_1589901304.4779.html
reports/FlexDashboard_1589962589.65421.html
reports/FlexDashboard_1589965191.06555.html
reports/FlexDashboard_1589965315.67521.html
reports/FlexDashboard_1589965633.4196.html
reports/index.html
reports/test.html
shiny/files/.Rapp.history
